/* Footer */
footer#footer {
	background-color: $background-top;
	color: $no-white;
	height: auto;
	padding-top: 0;
	position: relative;
	.container-fluid {
		.infos {
			background-color: $footer;
			overflow: hidden;
			padding-bottom: 50px;
			padding-top: 50px;
			h2 {
				margin-top: 0;
			}
			.wpcf7 {
				padding-top: 15px;
				input,
				textarea {
					border: 0;
					border-radius: 20px;
					display: block;
					padding: 10px 20px;
					text-align: center;
					width: 100%;
					&:focus {
						outline: 0;
					}
					&[type="submit"] {
						margin: 0 auto;
						width: auto;
					}
				}
			}
		}
		.menus {
			padding-bottom: 40px;
			padding-top: 40px;
			ul {
				border-right: 1px solid #ccc;
				padding-left: 0;
				padding-bottom: 20px;
				padding-top: 20px;
				@media all and ( max-width: 768px ) {
					border-right: 0;
				}
				li {
					list-style: none;
					&.title {
						text-transform: uppercase;
					}
					a {
						color: $no-white;
						display: block;
						padding: 5px;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
		.contacts {
			padding-bottom: 60px;
			padding-top: 60px;
			text-align: left;
			@media all and ( max-width: 768px ) {
				padding-top: 0;
				text-align: center;
			}
			span {
				display: block;
				padding-bottom: 5px;
			}
		}
		p.credits {
			padding: 30px 15px; 
			a {
				color: $no-white;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}