body.home {
	.services {
		overflow: hidden;
		padding-bottom: 80px;
		padding-top: 80px;
		h2 {
			margin-top: 0;
		}
		.entry-title {
			display: block;
			text-align: center;
		}
		a {
			color: $grey;
			text-decoration: none;
		}
		.each {
			border-right: 1px solid $background-bottom;
			margin-top: 15px;
			text-align: center;
			span {
				max-width: 90%;
			}
			&:last-child {
				border: none;
			}
			@media all and ( max-width: 768px ) {
				border-bottom: 1px solid $background-bottom;
				border-right: none;
				padding-bottom: 50px;
				padding-top: 40px;
				&:last-child {
					border: none;
				}
			}
		}
	}
}